body {
	background: url("/img/cool3.jpeg") no-repeat center fixed;
	background-size: cover;
	overflow: overlay;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    color: white;
}
#firstName {
    
}

#lastName {

}

#email {

}

#country {

}

#question {
    background-color: transparent;
    
}

.q {
    color: white;
    background-color: white;
}

.btn {
    background-color: transparent;
}