body {
  background: url("/img/malos.jpg")no-repeat center fixed;     
  background-size: cover;
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: #4E4B50;
  font-family: "Nunito", sans-serif;
  transition: 1s;
  font-size: 30px;
}

.animate__animated.animate__fadeInUp {
  --animate-delay: 0.5s;
}
