body {
	background: url("/img/malos.jpg") no-repeat center fixed;
	background-size: cover;
	overflow: overlay;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.tack {
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #4E4B50;
    font-weight: 800;
    margin-top: 100px;
}

.scndline {
    text-align: center;
    color: #4E4B50;
}