body {
  background: url('cool3.jpeg') no-repeat center fixed;     
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 13px;
  font-family: "Nunito", sans-serif;
}

li a:hover {
  color: cyan;
  opacity: 50%;
  font-size: 15px;
  font-weight: 800;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  cursor: default;
  color: white;
  letter-spacing: 3px;
  transition: 0.3s;
  margin-bottom: 50px;
  margin-left: 17px;
}

h1:hover {
  cursor: pointer;
  color: cyan;
  font-size: 35px;
  opacity: 50%;
  letter-spacing: 25px;
  font-weight: 200;
}

h2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
  color: white;
  font-size: 35px;
  margin-top: 200px;
}

h5 {
  text-align: center;
  margin-top: 1000px;
  font-size: 100px;
  font-family: "Nunito", sans-serif;
}

h6 {
  text-align: center;
  margin-top: 400px;
  font-size: 100px;
  font-family: "Nunito", sans-serif;
}